/* Styles généraux pour l'ensemble de la page */
body {
  font-family: sans-serif; /* Utilise la police de caractères sans-serif */
  color: rgb(255, 255, 255, 0.8); /* Couleur du texte en blanc légèrement transparent (80% d'opacité) */
  width: 100%; /* Largeur de la page à 100% de la fenêtre du navigateur */
  height: 100%; /* Hauteur de la page à 100% de la fenêtre du navigateur */
  background: linear-gradient(90deg, #e52e71, #ff8a00); /* Arrière-plan en dégradé linéaire allant de la couleur #e52e71 à #ff8a00, créant un fond coloré qui évolue de gauche à droite */
}

/* Styles pour l'élément avec la classe "slider-thumb" */
.slider-thumb::before {
  position: absolute; /* Position absolue par rapport à son parent */
  content: ""; /* Élément généré avant l'élément */
  left: 30%; /* Position horizontale à 30% de la largeur du parent */
  top: 20%; /* Position verticale à 20% de la hauteur du parent */
  width: 450px; /* Largeur de 450 pixels */
  height: 450px; /* Hauteur de 450 pixels */
  background: #17141d; /* Fond de couleur #17141d */
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%; /* Forme circulaire avec des propriétés de bordure spécifiques */
  will-change: border-radius, transform, opacity; /* Propriétés animées */
  animation: sliderShape 5s linear infinite; /* Animation "sliderShape" de 5 secondes en boucle infinie */
  display: block; /* Affichage de l'élément comme un bloc */
  z-index: -1; /* Position en arrière-plan (derrière le contenu principal de la page) */

  -webkit-animation: sliderShape 15s linear infinite; /* Animation pour les navigateurs WebKit (par exemple, Safari) */
}

/* Définition de l'animation "sliderShape" */
@keyframes sliderShape {
  0%, 100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%; /* Forme circulaire et légère rotation */
      transform: translate3d(0, 0, 0) rotateZ(0.01deg); /* Transformation légère */
  }
  34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%; /* Forme modifiée avec un déplacement léger vers le haut */
      transform: translate3d(0, 15px, 0) rotateZ(0.1deg); /* Transformation avec déplacement */
  }
  50% {
      transform: translate3d(0, 0, 0) rotateZ(0.1deg); /* Retour à la forme d'origine avec une rotation différente */
  }
  67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%; /* Forme modifiée avec un déplacement vers le bas */
      transform: translate3d(0, -30px, 0) rotateZ(0.1deg); /* Transformation avec déplacement vers le bas */
  }
}






/* Générer - réinitialiser - imprimer */
/* Styles pour les boutons */
button {
  padding: 10px 50px; /* Ajoute un rembourrage de 10px en haut et en bas, et 50px à gauche et à droite à l'intérieur du bouton */
  background-color: var(--main-color); /* Définit la couleur d'arrière-plan en utilisant une variable CSS déclarée précédemment */
  border: 5px solid whitesmoke; /* Ajoute une bordure de 5px de large en utilisant la couleur whitesmoke */
  color: whitesmoke; /* Définit la couleur du texte en blanc */
  border-radius: 10px; /* Arrondit les coins du bouton en utilisant un rayon de 10px */
  transition: background-color 1s ease 0.3s; /* Crée une transition fluide de 1 seconde sur la couleur d'arrière-plan avec un délai de 0.3s */
  font-weight: bold; /* Augmente l'épaisseur du texte en le rendant en gras */
}

/* Styles des boutons au survol */
button:hover {
  cursor: pointer; /* Change le curseur de la souris en une main pointer lorsqu'on survole le bouton */
  color: whitesmoke; /* Définit la couleur du texte en blanc (elle reste inchangée) */
  background-color: rgb(160, 155, 155); /* Modifie la couleur d'arrière-plan en utilisant une nuance de gris lorsqu'on survole le bouton */
}

/* Styles pour les titres de niveau 1 (h1) */
h1 {
  font-size: 40px; /* Définit la taille de police à 40 pixels */
  opacity: 1; /* La valeur par défaut de l'opacité (pleinement visible) */
  /*color: lightskyblue;*/ /* Un commentaire désactivé qui était utilisé pour définir la couleur du texte en lightskyblue */
}

/* Styles pour les titres de niveau 2 (h2) */
h2 {
  font-size: 25px; /* Définit la taille de police à 25 pixels */
  opacity: 1; /* La valeur par défaut de l'opacité (pleinement visible) */
  text-align: center; /* Centre le texte horizontalement dans son conteneur */
}





/* Input des données principales */
/* Styles pour les paragraphes avec la classe "input" (données principales) */
p.input {
  margin-top: 5px; /* Ajoute une marge de 5 pixels en haut du paragraphe */
  opacity: 1; /* Opacité définie à 1 (pleinement visible) */
  text-align: center; /* Centre le texte horizontalement dans son conteneur */
}

/* Styles pour les éléments avec la classe "inpt" (peut être un type d'input ou un autre élément) */
.inpt {
  border: 1px solid black; /* Ajoute une bordure de 1 pixel solide de couleur noire autour de l'élément */
  border-radius: 10px; /* Arrondit les coins de l'élément en utilisant un rayon de 10 pixels */
  outline: none; /* Supprime l'effet de mise au point, qui est généralement une bordure bleue autour de l'élément lorsqu'il est en surbrillance */
  text-align: center; /* Centre le texte horizontalement dans l'élément */
  background-color: rgba(255, 255, 255, 0.5); /* Définit la couleur d'arrière-plan avec une opacité de 0.5, ce qui le rend légèrement transparent */
  width: 156px; /* Définit la largeur de l'élément à 156 pixels */
}







/* Données paramétriques  et boutons */
/* Styles pour les balises h3 */
h3 {
  font-size: 25px; /* Taille de la police */
  opacity: 1; /* Opacité complète */
  text-align: center; /* Alignement centré */
}

/* Classe pour aligner verticalement les éléments */
.vertical-align {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Styles pour les étiquettes */
label {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Styles pour un paramètre spécifique */
.parametre {
  font-weight: bold; /* Police en gras */
  font-size: 13px; /* Taille de la police */
  padding: 0px 10px; /* Rembourrage (padding) */
}

/* Classes personnalisées pour différents éléments */
.custom1 {
  width: 25px;
  height: 25px;
}

.custom2 {
  width: 50px;
  height: 18px;
}

/* Styles pour les boutons h4 (Télécharger) */
h4 {
  display: inline;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  /* Dégradé radial pour le fond */
  background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px; /* Rembourrage (padding) */
  border-radius: 6px; /* Coins arrondis */
  color: #fff; /* Couleur du texte */
  font-size: 17px; /* Taille de la police */
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%); /* Ombre du texte */
  transition: box-shadow 0.15s ease, transform 0.15s ease; /* Transition lors du survol */
  width: 90px;
  height: 50px;
}

/* Styles pour le lien a */
a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
}

/* Styles pour le survol du bouton h4 */
h4:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

/* Styles pour le clic sur le bouton h4 */
h4:active {
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

/* Animation du cube */
.cube-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 15s linear infinite; /* Animation pour faire tourner le cube */
  margin-top: 50px;
  margin-left: 50px;
}

@keyframes animate {
  0% {
      transform: rotateX(-30deg) rotateY(0);
  }

  100% {
      transform: rotateX(-30deg) rotateY(360deg);
  }
}

/* Styles pour les faces du cube */
.cube-loader .cube-wrapper {
  position: absolute; /* Positionnement absolu de l'élément */
  width: 100%; /* Largeur à 100% de son conteneur */
  height: 100%; /* Hauteur à 100% de son conteneur */
  transform-style: preserve-3d; /* Spécifie que les enfants seront positionnés en 3D */
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute; /* Positionnement absolu de l'élément */
  width: 100%; /* Largeur à 100% de son conteneur */
  height: 100%; /* Hauteur à 100% de son conteneur */
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px); /* Rotation et translation sur l'axe Z */
  /* Dégradé pour les faces du cube */
  background: hsla(0, 100%, 95%, 1); /* Couleur de fond */
  /* Dégradé pour la face, pour divers navigateurs */
  background: linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  background: -moz-linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  background: -webkit-linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffe3e3", endColorstr="#ffd5b2", GradientType=1); /* Fallback pour IE */
}

/* Styles pour la face supérieure du cube */
.cube-top {
  position: absolute; /* Positionnement absolu de l'élément */
  width: 150px; /* Largeur de 150px */
  height: 150px; /* Hauteur de 150px */
  /* Dégradé pour la face supérieure */
  background: hsla(0, 100%, 95%, 1); /* Couleur de fond */
  /* Dégradé pour la face, pour divers navigateurs */
  background: linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  background: -moz-linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  background: -webkit-linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffe3e3", endColorstr="#ffd5b2", GradientType=1); /* Fallback pour IE */
  transform: rotateX(90deg) translateZ(75px); /* Rotation et translation sur l'axe Z */
  transform-style: preserve-3d; /* Spécifie que les enfants seront positionnés en 3D */
}

/* Pseudo-élément ::before pour la face supérieure */
.cube-top::before {
  content: ''; /* Contenu vide */
  position: absolute; /* Positionnement absolu de l'élément */
  width: 150px; /* Largeur de 150px */
  height: 150px; /* Hauteur de 150px */
  /* Dégradé pour le pseudo-élément */
  background: hsla(0, 100%, 95%, 1); /* Couleur de fond */
  /* Dégradé pour le pseudo-élément, pour divers navigateurs */
  background: linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  background: -moz-linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  background: -webkit-linear-gradient(90deg, hsla(0, 100%, 95%, 1) 1%, hsla(27, 100%, 85%, 1) 99%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffe3e3", endColorstr="#ffd5b2", GradientType=1); /* Fallback pour IE */
  transform: translateZ(-90px); /* Translation sur l'axe Z */
  filter: blur(10px); /* Flou */
  /* Ombres multiples */
  box-shadow: 0 0 10px #323232,
              0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
              0 0 30px #323232,
              0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}


/* Styles pour l'affichage du QR Code */
.qr {
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 1000;
}

/* Styles pour le texte flottant */
h5 {
  display: flex;
  position: fixed;
  align-items: right; /* Il est recommandé d'utiliser `flex-end` à la place de `right` */
  top: 100px;
  left: 100px;
  z-index: 1;
}

/* Styles pour la bande en haut de la page */
.bande-en-haut {
  padding: 5px;
  text-align: center;
  font-size: 5px;
  font-weight: bold;
}

/* Styles pour un conteneur .car */
.car {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #6e7f81a8;
}

/* Styles pour une carte .card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5); /* Arrière-plan semi-transparent */
  box-shadow: 15px 15px 15px #ff8a00, -15px -15px 15px #e52e71; /* Ombres */
  padding: 30px;
  align-items: center; /* Cette propriété est répétée, elle peut être retirée */
}

/* Styles pour un groupe de cartes .cards */
.cards {
  display: flex;
  position: absolute;
  bottom: 5px;
  flex-direction: column;
  gap: 15px;
  padding-right: 50px;
  justify-content: flex-end; /* Position des cartes en bas du conteneur */
  right: 0; /* Position des cartes à droite de la fenêtre */
}

/* Styles pour une carte de couleur rouge */
.cards .red {
  background-color: #f43f5e;
}

/* Styles pour une carte de couleur bleue */
.cards .blue {
  background-color: #3b82f6;
}

/* Styles pour une carte de couleur verte */
.cards .green {
  background-color: #22c55e;
}

/* Styles pour une carte .card (à l'intérieur du groupe de cartes) */
.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 20px;
  width: 80px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms; /* Transition de 400 millisecondes */
  transform-origin: bottom right;
}

/* Styles pour le texte principal de la carte */
.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

/* Styles pour le texte secondaire de la carte */
.cards .card p.second-text {
  font-size: .7em;
}

/* Lorsque survolée, agrandir la carte */
.cards .card:hover {
  transform: scale(1.1, 1.1);
}

/* Lorsque survolées, les autres cartes sont floutées et réduites */
.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}



